{% extends 'app/base.html' %}

{% block titulo %} Esto es la Pagina del DOCTOR {% endblock %}

{% block contenido %}

{% include 'app/menu.html' %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>DOCTOR - LISTADO DE DOCTORES</h1>
            

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Profesion</th>
                        <th>Detalle</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% if doctores %}
                    {% for doctor in doctores %}
                    <tr>
                        <td>{{ doctor.id }}</td>
                        <td>{{ doctor.nombre }}</td>
                        <td>{{ doctor.profesion }}</td>
                        <td>{{ doctor.detalle}}</td>
                        <td>
                            <a href="/doctor/edit/{{doctor.id}}" class="btn btn-primary">Editar</a>
                            <a href="/doctor/delete/{{doctor.id}}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5">No hay doctores</td>
                    </tr>
                    {% endif %}
    
    
    
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}