<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PRUEBA DE ALGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/doctor">Doctor</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/doctor/add">Agregar Doctor</a>
                </li>
<!-- 
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/mision">Mision</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/prueba">Prueba Mensajes</a>
                </li> -->


            </ul>
            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <span class="nav-link active text-info">Bienvenido, <b>{{request.session.usuario.nombre}}
                                ({{request.session.usuario.role_nombre}})</b></span>
                    </li>
                </ul>
                <a href="/logout" class="btn btn-outline-danger">SALIR</a>
            </div>
        </div>
    </div>
</nav>